  <div class="outer crt">
    <div class="scanline"></div>
    <div class="terminal"></div>
    <div class="unit-chooser ">
      <div>**Warhelper**</div>
      <br />
      <!-- slowly moving scanline -->
      <!-- the input and output -->
      <div class="select-prompt">
        &lang; Select a unit &rang;
      </div>
      <br /><br />
      <div class="unit" *ngFor="let unit of units" (click)="selectUnit(unit)" [routerLink]="'/display'">
        {{unit.name}}
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="mobile-buttons">
      <div class="mobile-button dark-grey text-white" [routerLink]="['/data-manager']" title="Data Manager">
        <div class="mobile-button-icon" routerLinkActive="router-link-active">
          <span class="material-icons">storage</span>
        </div>
      </div>
      <!-- <div class="mobile-button dark-grey text-white">
        <div class="mobile-button-icon" (click)="filterByKeyword(['Adepta Sororitas', 'Cult Imperialis'])">
          Dustin
        </div>
      </div> -->
      <!-- <div class="mobile-button dark-grey text-white" (click)="filterByKeyword(['Space Wolves', 'Adeptus Astartes'])">
        <div class="mobile-button-icon">
          Matt
        </div>
      </div> -->
    </div>
  </div>
