$dark-red: darkred;
$dark-blue: darkblue;
$dark-grey: #3d3d3d;
$dark-purple: #260451;
$light-grey: #9e9e9e;
$glow-yellow: #e6d850;
$glow-orange: #c67700;
$glow-red: #d30900;
$glow-red-lighter: #b62500;
$glow-start: 0 0 5px $glow-yellow,
0 0 10px $glow-orange,
0 0 10px $glow-red-lighter,
0 0 15px $glow-red,
0 0 60px rgba(255, 10, 10, 0.4);
$glow-end: 0 0 10px $glow-yellow,
0 0 12px $glow-orange,
0 0 15px $glow-red-lighter,
0 0 20px $glow-red-lighter,
0 0 60px rgba(255, 10, 10, 0.6),
0 0 100px rgba(150, 10, 10, 0.3);
$glow-filter: drop-shadow(0 0 0.25px $glow-yellow) drop-shadow(0 0 0.75px $glow-orange) drop-shadow(0 0 2px $glow-red-lighter) drop-shadow(0 0 4px $glow-red);

.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-hover:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dark-red {
  background-color: $dark-red;
}

.dark-blue {
  background-color: $dark-blue;
}

.light-grey {
  background-color: $light-grey;
}

.dark-purple {
  background-color: $dark-purple;
}

.lavender {
  background-color: lavender;
}

.dark-purple-border {
  border-color: $dark-purple;
}

.dark-blue-border {
  border-color: $dark-blue;
}

.text-dark-red {
  color: $dark-red;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-light-grey {
  color: $light-grey;
}

.text-white {
  color: white;
}

.white {
  background-color: white !important;
}

.dark-grey {
  background-color: $dark-grey !important;
}

.light-red {
  background-color: #FFDCDC !important;
}

.light-blue {
  background-color: #D9EBFF !important;
}

.light-green {
  background-color: #DCFFDE !important;
}

.filter-dark-red {
  filter: invert(8%) sepia(74%) saturate(6191%) hue-rotate(16deg) brightness(96%) contrast(121%);
}

.filter-yellow {
  filter: invert(85%) sepia(32%) saturate(6820%) hue-rotate(8deg) brightness(104%) contrast(101%);
}

.terminal-background {
  background: radial-gradient($glow-red -400%, black);
}

@mixin glow {
  color: $glow-yellow;
  text-shadow: 0 0 5px $glow-yellow,
    0 0 10px $glow-orange,
    0 0 10px $glow-red-lighter,
    0 0 15px $glow-red,
    0 0 60px rgba(255, 10, 10, 0.4);
}

%glow {
  @include glow;
}

.glow {
  @extend %glow;
}

.glow-hover {
  color: white;
  animation: glow-hover 2s ease-in-out infinite alternate;
}

@keyframes glow-hover {
  from {
    text-shadow: 0 0 10px white,
      0 0 15px $glow-yellow,
      0 0 20px $glow-orange,
      0 0 25px $glow-red,
      0 0 65px rgba(255, 10, 10, 0.4);
  }

  to {
    text-shadow: 0 0 13px white,
      0 0 15px $glow-yellow,
      0 0 18px $glow-orange,
      0 0 25px $glow-red-lighter,
      0 0 65px rgba(255, 10, 10, 0.6),
      0 0 100px rgba(150, 10, 10, 0.3);
  }
}

// TV SCREEN EFFECT

.crt:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom,
      rgba(18, 16, 16, 0.05) 50%,
      rgba(0, 0, 0, 0.1) 50%);
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 241, 42, 0.5) 10%,
      rgba(0, 0, 0, 0.1) 100%);
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 5s linear infinite;
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }

  50% {
    bottom: 100%;
  }

  100% {
    bottom: 0%;
  }
}
