@import 'shared.scss';

@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 292mm;
  }

  /* ... the rest of the rules ... */
}

@font-face {
  font-family: CaslonAntique;
  src: url('../src/assets/fonts/CaslonAntique.ttf');
}

@font-face {
  font-family: SpaceMarine;
  src: url('../src//assets/fonts/SM.TTF');
}

.row {
  --bs-gutter-x: 0 !important;
}

html {
  font-family: CaslonAntique;
  scroll-behavior: smooth;
}

.center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  display: inline-block;
  padding: 0.01in 0.05in;
  padding-top: 0.03in;
  color: white;
  background-color: black;
  font-size: 0.11in;
  position: relative;
  top: -0.02in;
  width: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 0px;
  border-radius: 6px;
  border: 1px solid #9e9e9e;
  padding: 7px;
  font-size: 0.17in;
  background-color: white !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* Position the tooltip */
  position: absolute;
  height: auto;
}

// .tooltip:hover .tooltip-text {
//   visibility: visible;
//   min-width: 150px;
//   width: auto;
//   height: auto;
//   z-index: 100;
// }

.game-icon {
  background-size: contain;
  color: black;
  width: 50px;
  height: 50px;
}

.game-icon-bolter {
  background: url(../src/assets/icons/bolter-gun.svg) no-repeat top left;
}

.game-icon-broadsword {
  background: url(../src/assets/icons/broadsword.svg) no-repeat top left;
}

.game-icon-heart-shield {
  background: url(../src/assets/icons/heart-shield.svg) no-repeat top left;
}

.game-icon-book-aura {
  background: url(../src/assets/icons/book-aura.svg) no-repeat top left;
}

.game-icon-psychic-waves {
  background: url(../src/assets/icons/psychic-waves.svg) no-repeat top left;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  visibility: hidden;
  text-align: right;
}

.mobile-buttons {
  position: relative;
  width: 100%;
  display: inline-block;

  .mobile-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 100%;
    user-select: none;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    @extend .shadow-hover;

    .mobile-button-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .material-icons,
      .game-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .game-icon {
        height: 35px;
        width: 35px;

      }
    }
  }
}
